
<div class="container">
  <div class="row">
      <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2><%= @cocktail.name %></h2>
          <div class="ingredients-list"></div>
      <% @cocktail.doses.each do |dose| %>
        <p>
          - <%= dose.ingredient.name %> : <%= dose.description %>
          <%= link_to dose_path(dose.cocktail_id), method: :delete, data: {
              confirm: 'Are you sure?'
            } do %>
            <span><i class="fas fa-times"></i></span>
          <% end %>
        </p>
        <% end %>
        </div>
          <ul class="list-unstyled">

            <li><button type="button" class="btn btn-outline-secondary"><%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail) %></button>
            </li>

            <li><button type="button" class="btn btn-outline-secondary"><%= link_to "See all cocktails", cocktails_path %></button>
            </li>
          </ul>
        </div>      
        </div>
      </div>
  </div>
</div>
