
<div class="container" id="form">
  <div class="row" class="text-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>Add ingredients and doses</h1>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :description %>
          <%= f.submit class: 'btn btn-dark' %>
          <%= link_to "Go back to all cocktails", cocktails_path %>
        <% end %>
    </div>
  </div>
</div>

